html, body {
    margin: 0;
    background: linear-gradient(45deg, #fc00ff, #00dbde);
    height: 100%;
    background-size: 300% 300%;
    animation: grad 10s ease infinite;
}
@keyframes grad {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}



.titlefallacy {
    display: flex;
    justify-content: center;
}


.fallacy-top-block {
    display: flex;

    width: 90%;
    height: 10%;
    font-size: 40px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.navigate {
    display: flex;
    justify-content: center;
    align-items: center;

}

.fallacy-navigate {
width: 10%;
height: 5%;
margin: 3%;
padding: 1%;
}

.fallacy-img {
    padding: 1%;
    margin-right: 80px;
    margin-left: 80px;
}

.fallacy-navigate-next {

}



.description-block {
    display: flex;
    justify-content: center;
    margin: 2%;
    border: 1px solid black;
    background-color: snow;
    border-radius: 1%;

}



.fallacy-content {
    font-size: 40px;
    font-weight: bold;
    margin: 50px;

}

.blockh1example {
    display: flex;
    justify-content: center;
    margin: 2%;
    border: 2px solid black;
    background-color: rgba(255,125,165,0.84);
}

.headerh1 {
    text-shadow: 1px 1px 2px black, 0 0 1em red; /* Параметры тени */
    color: white; /* Белый цвет текста */
    font-size: 4em;


}

.fallacy_content {
    border: 2px solid black;


}

.fallacy-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.examples
{
    display: flex;
    justify-content: space-between;
    margin: 2%;

}

.example {
    display: inline-block;
    width: 450px;
    min-height: 700px;
    border: 2px solid black;
    border-radius: 3%;
    background: radial-gradient(black, transparent);



}

.exampleh1 {
    text-align: center;
}

.exampletextblock {
    display: flex;
    justify-content: center;
    margin: 2%;
    border: 2px solid black;
    background-color: snow;
    min-height: 81%;




}


.example-text {
    font-size: 25px;
    margin: 20px;
    min-height: 100%;
    align-items: stretch




    }


.bottom-button {
    display: flex;
    justify-content: center;

}

.go-home {
    height: 40px;
    width: 130px;



}

a.button19 {

  text-align: center;
  font-size: 21px;
  width: 150px;
  height: 35px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: #cdc9ff;
  box-shadow:
   0 6px rgb(86,38,6),
   0 3px 15px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
}
.button19:hover {
  background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}
.button19:active {
  background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  box-shadow:
   0 2px rgb(86,38,6),
   0 1px 6px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
