body {
    margin: 0;
    background-color: #d4f7ff;
}

h1 {
    font-family: Georgia;
    text-align: center;
    font-size: 100px;
    margin: 10px;
    padding: 2%;


}

.all-fallcies-block {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;



}

.fallacy-block {
    width: 350px;
    height: 100px;
    margin: 5px;
    padding: 7px;
    box-shadow: 5px 5px 2px 2px #aaa;
    outline: 1px solid #000;
    background-color: #cdc9ff;
}

.fallacy-name {
    text-align: center;
    text-decoration: none;
    max-height: 15%;
    margin-top: 0%;
    color: #000000;
}
.fallacy-url {
    text-decoration: none;
}

.fallacy-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    margin-left: 40%;

}

