body {
    margin: 0;
    background-color: #d4f7ff;
}

h1 {
    text-align: center;
    font-size: 100px;
    margin: 10px;

}

cvbgdfgdfgd






.fallacy {
    width: 350px;
    height: 100px;
    display: inline-block;
    margin: 5px;
    padding: 7px;
    box-shadow: 5px 5px 2px 2px #aaa;
    outline: 1px solid #000;
    background-color: #cdc9ff;
}

.fallacy-title{
    text-align: center;
}
.fallacy-url {
    text-decoration: none;
}

.fallacy-img {
    display: flex;
    justify-content: center;
}

