html, body {
    margin: 0;
    background: linear-gradient(45deg, #fc00ff, #00dbde);
    height: 100%;
    background-size: 200% 200%;
    animation: grad 10s ease infinite;
}
@keyframes grad {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


h1 {
    font-family: Georgia;
    text-align: center;
    font-size: 100px;
    margin: 10px;
    padding: 2%;
    text-shadow: #cdc9ff;
}
.headerh1 {
    text-shadow: 1px 1px 2px black, 0 0 1em red; /* Параметры тени */
    color: white; /* Белый цвет текста */
    font-size: 4em; /* Размер надписи */
   }





.all-fallcies-block {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;




}

.fallacy-block {
    width: 350px;
    height: 175px;
    margin: 5px;
    padding: 7px;
    box-shadow: 5px 5px 2px 2px #aaa;
    outline: 1px solid #000;
    background-color: #cdc9ff;
    border-radius: 20%;

}

.fallacyblochurl {
    text-decoration: none;
}

.fallacy-name {
    text-align: center;
    max-height: 15%;
    margin-top: 0%;
    color: #000000;
    font-size: 23px;
    padding-top: 8px;
    text-decoration: none;
}


.fallacy-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    margin-left: 40%;

}

