{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
        <link type="text/css" href="{% static 'fallacies/css/fallacy_styles.css' %}" rel="stylesheet" />
</head>
<body>
<div class="fallacy-top-block">
    <h1 class="headerh1">{{fallacy.title}}</h1>
</div>

<div class="navigate">
    <a href='/fallacy/{{previous_fallacy.id}}' class="button19">Предыдущая</a>
    <img class="fallacy-img" src="{{fallacy.image.url}}" alt="lorem">
    <a href='/fallacy/{{next_fallacy.id}}' class="button19">Следующая</a>
</div>


<div class="description-block">
<p class="fallacy-content">{{fallacy.content}}</p>
</div>

<div class="examples">
    <div class="example 1">
        <div class="blockh1example">
        <h1 class="exampleh1">Пример 1</h1>
            </div>
        <div class="exampletextblock">
        <h2 class="example-text 1">{{fallacy.example1_text}}</h2>
            </div>
    </div>
    <div class="example 2">
        <div class="blockh1example">

        <h1 class="exampleh1">Пример 2</h1>
            </div>
        <div class="exampletextblock">
        <h2 class="example-text 2">{{fallacy.example2_text}}</h2>
        </div>
    </div>
</div>
<div class="bottom-button">
    <a href='{% url "home" %}' class="button19">Список ошибок</a>

</div>

</body>

</html>